{% extends 'header.html' %}

{% block content %}
<style>
    .login-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 55vh;
        background-color: #f5f5f5;
        width: 40%;
        border-radius: 10px;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        padding-top: 50px;
    }
    .login-btn {
        width: 100%;
    }
</style>
<div class="login-container">
    <div class="login-page">
        {% include 'basketball.html' %}
        <h1>Login</h1>
        <form id="login_form" method="POST">
            {% csrf_token %}
            <input class="form-control mb-3" type="text" id="username" name="username" placeholder="Username">
            <input class="form-control mb-3" type="password" id="password" name="password" placeholder="Password">
            <button class="btn success login-btn mb-2" type="submit">Login</button>
            <span style="align-items:center;display:flex;">Don't have an account? <a class="mx-1" id="register_btn" href="javascript:;">Register</a></span>
        </form>
        <form id="register_form" method="POST" style="display:none;">
            {% csrf_token %}
            <input class="form-control mb-3" type="text" id="register_username" name="register_username" placeholder="Username">
            <input class="form-control mb-3" type="text" id="register_email" name="register_email" placeholder="Email">
            <input class="form-control mb-3" type="password" id="register_password" name="register_password" placeholder="Password">
            <input class="form-control mb-3" type="password" id="register_confirm_password" name="register_confirm_password" placeholder="Confirm Password">
            <button class="btn cancel login-btn mb-2" type="submit">Create Account</button>
            <span style="align-items:center;display:flex;">Already have an account? <a class="mx-1" id="login_btn" href="javascript:;">Login</a></span>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#register_btn').click(function() {
            $('#login_form').hide();
            $('#register_form').fadeToggle(300);
        });
        $('#login_btn').click(function() {
            $('#register_form').hide();
            $('#login_form').fadeToggle(300);
        });
    });
</script>
{% endblock content %}
