<style>
    .post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20vh;
        background-color: #f5f5f5;
        width: 40%;
        border-radius: 10px;
    }
    .post-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        padding-top: 15px;
    }
    .post-row {
        display: flex;
        width: 90%;
        gap: 10px;
    }
    .interact-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #333;
        font-size: 1.2em;
    }
    .interact-section {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    .liked-post {
        color: red;
    }
    .reposted-post {
        color: green;
    }
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}">
<div class="post-container">
    <div class="post-content py-4">
        <div class="post-row">
            <div class="col-2">
                <img src="{{ post.author.profile_picture }}" alt="PFP" style="width: auto; height: auto; border-radius: 50%;">
            </div>
            <div class="col-10">
                <p><b>{{ post.author.get_full_name }}</b> @{{ post.author.username }} - {{ post.get_time_since_posted }}</p>
            </div>
        </div>
        <div class="post-row">
            <div class="col-2"></div>
            <div class="col-10">
                <p>{{ post.content }}</p>
            </div>
        </div>
        <div class="post-row">
            <div class="col-2"></div>
            <div class="col-10">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" style="width: 100%; height: auto; border-radius: 10px;">
                {% endif %}
            </div>
        </div>
        <div class="post-row interact-section">
            <div class="col-2"></div>
            <div class="col-2">
                <button id="post_{{ post.pk }}_reply" class="interact-btn" data-id="{{ post.pk }}" data-action="reply">
                    <i class="fa-regular fa-comment"></i>
                </button>
                <span id="post_{{ post.pk }}_reply_count">{{ post.get_reply_count }}</span>
            </div>
            <div class="col-2">
                <button id="post_{{ post.pk }}_repost" class="interact-btn" data-id="{{ post.pk }}" data-action="repost">
                    <i class="{% if post.is_reposted %}fa-solid fa-repeat reposted-post{% else %}fa-solid fa-repeat{% endif %}"></i>
                </button>
                <span id="post_{{ post.pk }}_repost_count">{{ post.get_repost_count }}</span>
            </div>
            <div class="col-2">
                <button id="post_{{ post.pk }}_like" class="interact-btn" data-id="{{ post.pk }}" data-action="like">
                    <i class="{% if post.is_liked %}fa-solid fa-heart liked-post{% else %}fa-regular fa-heart{% endif %}"></i>
                </button>
                <span id="post_{{ post.pk }}_like_count">{{ post.get_like_count }}</span>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.interact-btn').click(function() {
            // Handle interaction functionality
            const postId = $(this).data('id');
            const action = $(this).data('action');
            $.ajax({
                url: "{% url 'home_page:interact_post' %}",
                type: "POST",
                data: {
                    post_id: postId,
                    action: action,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        // Update the button state and count
                        if (action === 'like') {
                            const icon = $('#post_' + postId + '_like i');
                            icon.toggleClass('liked-post');
                            icon.toggleClass('fa-regular fa-solid');
                        } else if (action === 'repost') {
                            const icon = $('#post_' + postId + '_repost i');
                            icon.toggleClass('reposted-post');
                        }
                        // Update the count
                        $('#post_' + postId + '_' + action + '_count').text(response.new_count);
                    } else {
                        alert(response.error);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });
    });
</script>
